

.wrapper{
    display: flex;

}

/* form */
.form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(160, 160, 160);

}
.input{
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.input-body{
    height: 80px;
    margin-bottom: 20px;
}
.submit-btn{
    padding: 10px;
    font-size: 20px;
}

/* card */
.card-container{
    margin-left: 100px;
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    flex-wrap: wrap;
    display: flex;
    background-color: aliceblue;
    width: 150px;
    height: 250px;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
}

.btn{
    padding: 5px;
    margin: 2px;
}


